@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto';
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 290px 1fr;
    grid-template-rows: 150px 1fr;
}

.sidebar,
.activities,
.system{
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: #0369a1;
    gap: 58px;
    
    grid-row: 1 / -1;
}

svg {
    fill: currentColor;
}

.sidebar > a svg {
    width: 55px;
}

.activities > button > svg,
.system > button > svg {
    width: 26px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.activities > button,
.system > button {
    background-color: #0369a1;
    color: white;
    padding: 15px 30px;
    font-size: 21px;
    border: none;
    text-align: left;
    font-weight: bold;
    transition: 0.2s;

    display: flex;
    align-items: center;
    gap: 20px;
}

.activities > button:hover,
.system > button:hover {
    background-color: #0284c7;
    cursor: pointer;
}